body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tab{
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
}
.tab-body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
    border-radius: 15px;
    margin-top: 10px;
}

.tab-content{
    display: none;
}
#indicator{
    position: absolute;
    background-color: black;
    border-radius: 15px;
    height: 3px;
    bottom: 0;
    left: 0;
    width: 0px;
    transition:left 0.3s ease;
}
.bitcount-prop-single-bitcount {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
.active{
    display: block;
}